<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Footer</title>

    <link rel="stylesheet" href="/assets/css/header-footer.css">
</head>

<body>
    <footer>
        <div class="footer-content">
            <section>
                <div class="logo-slogan-container">
                    <img src="/assets/img/pupsp-logo.png" alt="PUP Sintang Pusa Logo" width="100" height="100">
                    <img src="/assets/img/txt-logo.svg" alt="PUP SP Text Logo" width="100" height="100">
                    <p>For the cats of PUP, we serve</p>
                </div>

                <div class="footer-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.0200324554007!2d121.00817531114718!3d14.597934377082062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9dd976ededf%3A0xbaaa357c5585b8c2!2sPolytechnic%20University%20of%20the%20Philippines!5e0!3m2!1sen!2sph!4v1741762163006!5m2!1sen!2sph"
                        allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </section>

            <section>
                <div class="find-us-address">
                    <h3>Find Us</h3>
                    <p><img src="#" class="footer-icon" alt="Location Icon">Anonas Street, Sta. Mesa, Manila,
                        Philippines</p>
                    <p><img src="#" class="footer-icon" alt="Email Icon"><a
                            href="pupsp.comss@gmail.com">pupsp.comss@gmail.com</a></p>
                </div>

                <div class="op-hours">
                    <h3>Operating Hours</h3>
                    <table class="open-hours-tbl">
                        <tr>
                            <th>Day</th>
                            <th>Hours</th>
                        </tr>
                        <tr>
                            <td>Weekdays</td>
                            <td>09:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>09:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>Closed</td>
                        </tr>
                    </table>
                </div>
            </section>

            <section>
                <h3>Follow Us</h3>
                <div class="social-grid">
                    <a href="http://m.me/PUPSintangPusa" target="_blank">
                        <img src="#" alt="Facebook">
                    </a>
                    <a href="https://twitter.com/PUP_Sintang_Pusa" target="_blank">
                        <img src="#" alt="Twitter">
                    </a>
                    <a href="https://www.instagram.com/pupsp_ig/" target="_blank">
                        <img src="#" alt="Instagram">
                    </a>
                    <a href="https://www.tiktok.com/@pup_sintang_pusa" target="_blank">
                        <img src="#" alt="TikTok">
                    </a>
                </div>
            </section>
        </div> 

        <div class="footer-copyright">
            <p>&copy; PUP Sintang Pusa | PUP Manila | Manila, Philippines</p>
        </div>
    </footer>
</body>

</html>