<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Header</title>

    <link rel="stylesheet" href="/assets/css/header-footer.css">
</head> -->

<!-- <body> -->
    <header>
        <div class="logo-slogan-container">
            <img src="/assets/img/pupsp-logo.png" alt="PUP Sintang Pusa Logo" width="100" height="100">
            <img src="/assets/img/txt-logo.svg" alt="PUP SP Text Logo" width="100" height="100">
            <p>For the cats of PUP, we serve</p>
        </div>
        
        <nav>
            <div class="pupsp-navlist">
                <a href="#">About</a>
                <a href="#">Events</a>
                <a href="#">Contact</a>
            </div>
        </nav>
    </header>
<!-- </body>

</html> -->