@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

header, footer, a {
    color: white;
}

/*{ Header Styles */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 3rem;

    background-image: url('/assets/img/header-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: drop-shadow(0px 10.7461px 19.5221px rgba(0, 0, 0, 0.25));

    position: sticky;
}

header .logo-slogan-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header .logo-slogan-container img {
    width: 80px;
    height: auto;
}

header .logo-slogan-container p {
    font-style: italic;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.02rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #E7AB39;
    box-shadow: 0px 1.75839px 2.04571px rgba(0, 0, 0, 0.25);
    border-radius: 115px;

    padding: 0px 30px;
}

header .pupsp-navlist {
    display: flex;
    gap: 3rem;
}

header .pupsp-navlist a {
    text-decoration: none;
    text-shadow: 0px 3.58203px 3.18801px rgba(0, 0, 0, 0.25);

    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 30px;

    transition: color 0.3s ease;
}

header .pupsp-navlist a:hover {
    color: #E7AB39;
}

/*{ Footer Styles */

footer {
    background-image: url('/assets/img/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px -10.7461px 19.5221px rgba(0, 0, 0, 0.25);
}

footer .footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: auto; 
    gap: 15px;

    padding: 2rem 5rem 1rem 5rem;
}

footer div.logo-slogan-container,
footer div.footer-map,
footer div.find-us-address,
footer div.op-hours,
footer div.follow-us {
    margin: 20px 0px;
}

footer .logo-slogan-container p {
    width: 80%;

    font-style: italic;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.02rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #E7AB39;
    box-shadow: 0px 1.75839px 2.04571px rgba(0, 0, 0, 0.25);
    border-radius: 115px;
}

footer .footer-map iframe {
    width: 80%;
    height: 215px;
    border-radius: 10px;
    border-radius: 10px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

footer .address {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0px;
}

footer .address p {
    margin: 0;
}

footer .address a {
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .address a:hover {
    color: #4ABDAC;
    text-decoration: underline;
}

footer .open-hours {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;

    border-spacing: 10px;
    border-radius: 12px;
    overflow: hidden;

}

footer .open-hours th {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 30px;
}

footer .open-hours td {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(46, 46, 46);
}


footer .open-hours th,
footer .open-hours td {
    padding: 10px 20px;
    text-align: left;
    background: #f5f3f3;
    transition: background-color 0.3s ease;
}

footer .open-hours th {
    background-color: #E7AB39;
    color: rgb(255, 255, 255);
}

footer .open-hours tr:hover td {
    background-color: #4abdac;
}

footer .push-follow-us {
    height: 65%;
}

footer .social-grid a {
    margin: 0px 10px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;

}

footer .social-grid a:hover {
    transform: scale(1.1);
}

footer .footer-content h3 {
    margin-bottom: 15px;
    color: #E7AB39;
    font-size: 1.3rem;
    user-select: none;
    text-shadow: 0px 3.58203px 3.18801px rgba(0, 0, 0, 0.25);
}

footer .footer-copyright {
    text-align: center;
    background-color: #34193a;
    padding: 20px;
}